@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */

  --foreground: #f1f1f1;
  --background: #1b1c20; /* Darker than primary for depth */

  --accent-turq: #00c896; /* Vibrant turquoise for buttons/links */
  --accent-light: #ffab40; /* 	Warm contrast for highlights */
  --text-light: #f1f1f1; /* Light gray for readability on dark */

  --primary-color: #45474f; /* Dark slate / Charcoal base (your pick) */
  --surface-color: #2c2e35; /* Card or section backgrounds */
  /* --border-color: #5c5f69;*/
  --error-color: #ff4d4d;

  padding: 0;
  margin: 0;

  --bg-color: #303b2b4d;
  --text-color: #f4f5fa;
  --button-color: #e01a4f;
  --bg: #45474f;
  --border-color: #1c1c1c;
  --tag-color: rgba(129, 117, 255, 0.1);
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, sans-serif;
} */

*:focus {
  outline: none;
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--bg);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-family: Inter, sans-serif; */
}

a,
h1,
h3 {
  color: var(--text-color);
}

a:hover {
  text-decoration: underline;
}

button,
span {
  padding: 0.63rem 1.3rem;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  border-radius: 0.4rem;
}

button {
  cursor: pointer;
}
button:hover {
  border-color: var(--text-color);
  border-radius: 0;
}
button:active {
  border-radius: 0;
  background-color: var(--text-light);
  color: var(--bg-color);
}

nav {
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  border-radius: 0.4rem;
}

textarea {
  min-height: 200px;
}

img,
.hero-section span,
.card,
button,
input {
  transition: all 800ms ease-out;
}
.hero-section span:hover,
.card:hover,
button:hover,
textarea:focus,
input:focus {
  border-radius: 0 !important;
  background-color: var(--border-color);
}

img {
  opacity: 60%;
}

img:hover {
  border-radius: 0;
}

.homepage {
  max-width: 800px;
  width: 800px;
  min-height: 100vh;
  padding: 5rem 0;
}

.homepage section {
  min-height: 300px;
  max-width: 800px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--text-light);
}

.hero-section span:hover {
  /* cursor: pointer; */
  border-color: var(--text-color);
  border-radius: 0;
  /* color: var(--bg-color); */
  /* border: 1px solid var(--border-color); */
}

.services li:hover {
  border-radius: 0;
}
.services li {
  background-color: var(--surface-color);
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.card {
  width: 180px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  text-align: center;
  cursor: pointer;
}

.card h3 {
  font-size: 16px;
}

.card h4 {
  font-size: 14px;
}

.card p {
  font-size: 12px;
}

.contact-form textarea,
.contact-form input {
  width: 360px;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  padding: 0.625rem;
  font-size: 14px;
}

.about img {
  border-radius: 4rem;
}
